/* ======================================== COLOURS ======================================== */

/* darker */

/*#628BFF*/
/*#5995E8*/
/*#6FC2FF*/
/*#77CAE8*/
/*#62EEFF*/

/* lighter */

/* ======================================== BODY ======================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.page {
    overflow-x: hidden;
}

.profile-year {
    font-size: 130px;
}

h2, h3, h4 {
    font-weight: 300;
}

.blue {
    background-color: #6FC2FF;
    color: white;
}

/* ======================================== ICONS ======================================== */

.btn-wide {
    width: 100%;
}

.fa-large {
    font-size: 5em;
    color: #6FC2FF;
}

/* ======================================== NAV BAR ======================================== */

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-home {
    background-color: #5995E8;
    color: white;
}

.nav-home>a {
    color: white;
}

.nav-list>li>a:hover {
    background-color: transparent;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-default>li>a {
    color: white;
}

.nav-home li:hover {

}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
}

/* ======================================== BODY ======================================== */

.profile-title {
    font-size: 70px;
}

.centre {
    text-align: center;
    margin: 0 auto;
}

.form-view {
    padding-bottom: 20px;
}

/* ======================================== PROFILE ======================================== */

.letter-display {
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}
.letter-display h1 {
    font-size: 10em;
}

.module-tile {
    color: white;
    padding: 8px;
    background-color: #6FC2FF;
    height: 150px;
}

.grade-tile {
    color: white;
    padding: 8px;
    background-color: #428bca;
    height: 100px;
}

.module-tile h3, .grade-tile h3 {
    margin: 0 0;
}

.module-tile small, .grade-tile small {
    color: white;
    font-weight: 300;
}

.tile-row {
    margin: 0 0;
}

.tile-wrapper {
    padding: 5px 5px;
}

.module-tile:hover .delete-user-module {
    color: #428bca;
}

.module-button {
    color: white;
    font-size: 6em;
}

.module-button:hover {
    color: #428bca;
}

.add-grades, .show-grades, .delete-user-module {
    position: absolute;
    top: 100px;
    color: white;
    font-size: 2em;
}

.add-grades {
    left: 60px;
}

.delete-user-module {
    top: 0px;
    right: 0px;
    color: transparent;
}