/* ======================================== COLOURS ======================================== */

/* darker */

/*#036DCA*/
/*#428BCA*/
/*#5995E8*/
/*#6FC2FF*/
/*#77CAE8*/
/*#62EEFF*/

/* lighter */

/* ======================================== BODY ======================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.page {
    overflow-x: hidden;
}

.profile-year {
    font-size: 130px;
}

h2, h3, h4 {
    font-weight: 300;
}

.blue {
    background-color: #6FC2FF;
    color: white;
}

/* ======================================== FOOTER ======================================== */

.footer-container {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    overflow-x: hidden;
}

/* ======================================== ICONS ======================================== */

.btn-wide {
    width: 100%;
}

.fa-large {
    font-size: 5em;
    color: #6FC2FF;
}

.fa-medium {
    font-size: 3em;
    color: #6FC2FF;
}

/* ======================================== NAV BAR ======================================== */

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-home {
    background-color: #5995E8;
    color: white;
}

.nav-home>a {
    color: white;
}

.nav-list>li>a:hover {
    background-color: transparent;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-default>li>a {
    color: white;
}

.nav-home li:hover {

}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
}

/* ======================================== BODY ======================================== */

.profile-title {
     font-size: 5em;
 }

.profile-subtitle {
    font-size: 2em;
}

@media (max-width: 767px) {
    .profile-title {
        font-size: 2.6em;
    }
    .profile-subtitle {
        font-size: 1.5em;
    }
}

/* ======================================== WARNINGS ======================================= */

.warning-div {
    color: transparent;
    padding: 15px 0px;
}

.warning-div label {
    margin: 0 0;
}

.feedback-label {
    color: #428bca;
}

/* ======================================== TILES ========================================== */

.module-tile, .grade-tile, .year-average-tile {
    color: white;
    padding: 8px;
}

.year-average-tile {
    background-color: #77CAE8;
    height: 100px;
}

.module-tile {
    background-color: #6FC2FF;
    height: 150px;
}

.module-tile:hover, .grade-tile:hover {
    cursor: pointer;
    background-color: #5995E8;
}

.module-tile h3, .grade-tile h3, .year-average-tile h2 {
    margin: 0 0;
}

.module-tile small, .grade-tile small, .year-average-tile {
    color: white;
    font-weight: 300;
}

.module-button {
    color: white;
    font-size: 6em;
}

.grade-tile {
    color: white;
    padding: 8px;
    height: 100px;
}

@media (max-width: 767px) {
    .grade-tile {
        height: 150px;
    }
}

.grade-tile h1 {
    margin: 10px 0;
}

@media (max-width: 767px) {
    .grade-tile h1{
        margin: 30px 0;
    }
}

.grade-button {
    color: white;
    font-size: 4em;
}

.semester-one {
    background-color: #428bca;
}

.semester-two {
    background-color: #036DCA;
}

.tile-row {
    margin: 0 0;
}

.tile-wrapper {
    padding: 5px 5px;
}

.delete-user-module {
    position: absolute;
    top: 100px;
    color: white;
    font-size: 2em;
}

.delete-user-module {
    right: 0px;
    color: #6FC2FF;
}

.delete-user-module:hover {
    color: white;
}

.no-underline:hover {
    text-decoration: none;
}

.disclaimer {
    text-align: left;
}

/* ======================================== ADMIN ========================================== */

.form-button {
    cursor: pointer;
}

/* ======================================== FORMS ========================================== */

.form-view {
    padding-bottom: 20px;
}

.centre {
    text-align: center;
    margin: 0 auto;
}