<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid centre form-view">
                <br>
                <br>
                <h1>What score did you get?</h1>

                <div class="warning-div">&nbsp</div>

                <form role="form" class="add-grade-form">
                    <div class="form-group">
                        <select class="form-control" id="add-grade-form-assignment-choice" name="assignment_choice">
                            <option value="" disabled selected>Choose an assignment</option>
                            <% assignments.each(function(assignment) { %>
                            <% var display = "" + assignment.get('assignment_name') + " (" + assignment.get('max_mark') + ")" %>
                            <option value=<%= assignment.get('id') %>><%= display %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="sr-only" for="exampleInputScore2">Score</label>
                        <input type="text" class="form-control" id="exampleInputScore2" placeholder="Enter score" name="score">
                    </div>
                    <input type="hidden" name="user_id" value=<%= user_id %>>
                    <input type="hidden" name="module_id" value=<%= module_id %>>
                    <button type="submit" class="btn btn-warning">
                        <span class="fa fa-list"></span> Add
                    </button>
                    <button type="button" class="btn btn-info cancel">
                        <span class="fa fa-check"></span> Done
                    </button>
                </form>

                <br>
            </div>
        </div>
    </div>
</div>