<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid centre form-view">
                <br>
                <br>
                <h1>What module do you do?</h1>

                <div class="warning-div">&nbsp</div>

                <form role="form" class="add-user-module-form">
                    <div class="form-group">
                        <select class="form-control" id="add-user-module-form-moduleChoice" name="module_choice">
                            <option value="" disabled selected>Choose a module</option>
                            <% modules.each(function(module) { %>
                            <% var display = "" + module.get('module_code') + " - " + module.get('module_name') %>
                            <option value=<%= module.get('id') %>><%= display %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="current"> Current?
                        </label>
                    </div>
                    <input type="hidden" name="user_id" value=<%= user_id %>>
                    <button type="submit" class="btn btn-warning">
                        <span class="fa fa-list"></span> Add
                    </button>
                    <button type="button" class="btn btn-info cancel">
                        <span class="fa fa-check"></span> Done
                    </button>
                </form>

                <br>
            </div>
        </div>
    </div>
</div>