<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid centre form-view">

                <h1 class="page-title">
                    <button type="button" class="btn btn-default cancel">
                        <span class="fa fa-arrow-left"></span>
                    </button>
                    What module do you do?
                </h1>

                <div class="warning-div">&nbsp</div>

                <form role="form" class="add-user-module-form">
                    <div class="form-group">
                        <select class="form-control" id="add-user-module-form-moduleChoice" name="module_choice">
                            <option value="" selected>Choose a module</option>
                            <% modules.each(function(module) { %>
                            <% var display = "" + module.get('module_code') + " - " + module.get('module_name') %>
                            <option value=<%= module.get('id') %>><%= display %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group form-group-lg">
                        <select class="form-control" id="exampleInputYear" name="year">
                            <option value="" selected>When did you do the module?</option>

                            <% for(var i=2013; i<2015; i++) { %>

                                <option value="<%= i %>"><%= i %> / <%= i+1 %></option>

                            <% } %>

                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="current"> Current?
                        </label>
                    </div>
                    <input type="hidden" name="user_id" value=<%= user_id %>>
                    <button type="submit" class="btn btn-info btn-block">
                        <span class="fa fa-check"></span> Add
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>