<div class="container-fluid centre">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 assignment-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Create Assignment</h4>
        </div>
        <div class="col-md-2 module-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Create Module</h4>
        </div>
        <div class="col-md-2 course-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Create Course</h4>
        </div>
        <div class="col-md-2 institution-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Create Institution</h4>
        </div>
        <div class="col-md-2 admin-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Assign Admin</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
