<div class="container-fluid centre">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-xs-4 assignment-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Assignment</h4>
        </div>
        <div class="col-sm-2 col-xs-4 module-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Module</h4>
        </div>
        <div class="col-sm-2 col-xs-4 course-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Course</h4>
        </div>
        <div class="col-sm-2 col-xs-6 institution-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Institution</h4>
        </div>
        <div class="col-sm-2 col-xs-6 admin-form-button form-button">
            <h1>
                <span class="fa fa-plus fa-medium"></span>
            </h1>
            <h4>Assign Admin</h4>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
