<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid centre form-view">

                <h1 class="page-title">Edit your grade:</h1>

                <h2>
                    <%= model.get('module_code') %> - <%= model.get('assignment_name') %>
                    <small>
                        (<%= model.get('max_mark') %>)
                    </small>
                </h2>

                <div class="warning-div">&nbsp</div>

                <form role="form" class="edit-grade-form">
                    <div class="form-group form-group-lg">
                        <label class="sr-only" for="exampleInputScore2">Score</label>
                        <input type="text" value="<%= model.get('score') %>" class="form-control" id="exampleInputScore2" placeholder="Enter score" name="score">
                    </div>
                    <input type="hidden" name="grade_id" value=<%= model.id %>>
                    <button type="button" class="btn btn-warning cancel">
                        <span class="fa fa-undo"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger delete" value="<%= model.get('id') %>">
                        <span class="fa fa-times"></span> Delete
                    </button>
                    <button type="submit" class="btn btn-info">
                        <span class="fa fa-check"></span> Change
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>