<br>
<div class="container">
    <hr>

    <% var moduleCode;%>
    <% grades.each(function(grade) { %>
        <%  moduleCode = grade.get('module_code') %>
    <% }); %>
    <h2><%= moduleCode %></h2>
    <h3><%= moduleAverage.get('average') %>%</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Score %</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <% grades.each(function(grade) { %>
            <tr>
                <td><%= grade.get('assignment_name') %></td>
                <td><%= (grade.get('score')*100) / grade.get('max_mark')%></td>
                <td><%= grade.get('weight') %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>