<div class="row">
    <div class="col-md-4">
        <a href="#/addGrade">
            <button type="button" class="btn btn-default btn-wide">
                <span class="fa fa-plus fa-large"></span><br> <h2>Add Grade</h2>
            </button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#/seeGrades">
            <button type="button" class="btn btn-default btn-wide">
                <span class="fa fa-list fa-large"></span><br> <h2>See Grades</h2>
            </button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#/profile">
            <button type="button" class="btn btn-default btn-wide">
                <span class="fa fa-user fa-large"></span><br> <h2>Profile</h2>
            </button>
        </a>
    </div>
</div>
