<div class="fluid-container blue centre form-view">
    <div class="container blue">
        <br>
        <br>
        <h1><span class="fa fa-area-chart fa-large"></span></h1>
        <br>
        <h1>Simple grade visualisation for students.</h1>
        <h2>Create an account in seconds and begin tracking your results.</h2>
        <br>
        <br>
        <form class="form-inline login-form" role="form">
            <div class="form-group form-group-lg">
                <label class="sr-only" for="exampleInputUsername2">Username</label>
                <input type="text" class="form-control input-lg" id="exampleInputUsername2" placeholder="Enter username" name="username">
            </div>
            <div class="form-group form-group-lg">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control input-lg" id="exampleInputPassword2" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg login">Login</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>