<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid centre form-view">
                    <br>
                    <br>
                    <h1>Create your gradients account here.</h1>
                    <br>
                    <div class="warning-div"></div>
                    <br>
                    <form class="signup-form" role="form">
                        <div class="form-group form-group-lg signup-username-div">
                            <label class="sr-only" for="exampleInputUsername2">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="username" name="username">
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="sr-only" for="exampleInputEmail2">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="email address" name="email">
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="password" name="password">
                        </div>
                        <div class="form-group form-group-lg">
                            <select class="form-control" id="signup-form-unichoice" name="uni_choice">
                                <option value="" disabled selected>Choose a uni</option>
                                <% institutions.each(function(uni) { %>
                                <option value=<%= uni.get('id') %>><%= uni.get('institution_name') %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group form-group-lg">
                            <select class="form-control" id="signup-form-coursechoice" name="course_choice">
                                <option value="" disabled selected>Choose a course</option>
                                <% courses.each(function(course) { %>
                                <option value=<%= course.get('id') %>><%= course.get('course_name') %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group form-group-lg">
                            <select class="form-control" id="signup-form-yearchoice" name="year">
                                <option value="" disabled selected>What year are you?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block login">Create</button>
                    </form>
                    <br>
            </div>
        </div>
    </div>
</div>
