<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="profile-title">
                <%= user.get('username') %>
            </h1>
            <h3 class="profile-subtitle">
                <%= user.get('institution_name') %> - <%= user.get('course_name') %>
            </h3>

            <hr>

            <div class="row tile-row">

                <% averages.each(function(average) { %>

                        <div class="col-xs-6 col-sm-4 col-md-3 tile-wrapper">
                            <div class="year-average-tile">
                                <h2>
                                    <%= average.get('average') %>%
                                </h2>
                                <h4>
                                    <%= average.get('year').slice(-2) %>/<%= ("" + (parseInt(average.get('year')) + 1)).slice(-2) %>
                                </h4>
                            </div>
                        </div>

                <% }); %>

            </div>

        </div>
    </div>
</div>
